﻿@using LearningPlatform.Common.DTOs.ViewModels;
@model CouresViewModel
@{
    this.ViewData["Title"] = "Create course";
}
<br />
<br />
<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
    <h6 class="section-title bg-white text-center text-primary px-3">Courses</h6>
    <h1 class="mb-5">Creating a course</h1>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                <form asp-controller="Course" asp-action="Create" method="Post">
                    <div class="row g-3">
                        <div class="col-12">
                            <div class="form-floating">
                                <input asp-for="Title" type="text" class="form-control" id="Title" placeholder="Title">
                                <span asp-validation-for="Title" class="alert-danger"></span>
                                <label for="name">Title</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea rows="10" asp-for="Description" type="text" class="form-control" id="Description" placeholder="Description"></textarea>
                                <span asp-validation-for="Description" class="alert-danger"></span>
                                <label for="name">Description</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <select asp-for="CourseType" asp-items="Model.CourseTypes" class="form-control" id="CourseType" placeholder="CourseType"></select>
                                <span asp-validation-for="CourseType" class="alert-danger"></span>
                                <label for="name">CourseType</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <input class="btn btn-primary w-100 py-3" type="submit" value="Create">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>