﻿@using LearningPlatform.Common.DTOs.ViewModels;
@model EnrollViewModel
@{
    this.ViewData["Title"] = "Enroll Students";
    string courseId = Model.CourseId.ToString();
}
@if (this.TempData.ContainsKey("Message"))
{
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <div class="alert-success">
            <h5 class="mb-0">@this.TempData["Message"]</h5>
        </div>
    </div>
}
@{
    ViewBag.Title = "EnrollStudents";
}

@using (Html.BeginForm("EnrollStudents", "Course", FormMethod.Post))
{
    @Html.HiddenFor(m => m.CourseId)

    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Students</h6>
                <h1 class="mb-5">List of Registered Students</h1>
            </div>
            <div class="row g-4 justify-content-center" id="StudentsList">
                @if (Model.RegisteredStudents.Count > 0)
                {
                    @for (int i = 0; i < Model.RegisteredStudents.Count(); i++)
                    {
                        var photoName = $"{Model.RegisteredStudents[i].Email}.jpg";
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="team-item bg-light">
                                <div class="position-relative overflow-hidden">
                                    <img class="img-fluid" src="~/Photos/@photoName" alt="">
                                </div>
                                <div class="text-center p-4">
                                    <h5 class="mb-0">@($"{Model.RegisteredStudents[i].FirstName} {Model.RegisteredStudents[i].LastName}")</h5>
                                    <a class="mb-0" href="mailto:@Model.RegisteredStudents[i].Email">@Model.RegisteredStudents[i].Email</a>
                                    @Html.CheckBoxFor(c => c.RegisteredStudents[i].IsChecked)
                                </div>
                            </div>
                        </div>   
                        @Html.HiddenFor(c => c.RegisteredStudents[i].Id)
                        @Html.HiddenFor(c => c.RegisteredStudents[i].Email)
                        @Html.HiddenFor(c => c.RegisteredStudents[i].FirstName)
                        @Html.HiddenFor(c => c.RegisteredStudents[i].LastName)
                        @Html.HiddenFor(c => c.RegisteredStudents[i].Password)
                        @Html.HiddenFor(c => c.RegisteredStudents[i].Info)
                        @Html.HiddenFor(c => c.RegisteredStudents[i].Role)
                        @Html.HiddenFor(c => c.RegisteredStudents[i].Photo)
                    }
                }
            </div>
        </div>
    </div>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Students</h6>
                <h1 class="mb-5">List of Unregistered Students</h1>
            </div>
            <div class="row g-4 justify-content-center" id="StudentsList">
                @if (Model.UnregisteredStudents.Count > 0)
                {
                    @for (int i = 0; i < Model.UnregisteredStudents.Count(); i++)
                    {
                        var photoName = $"{Model.UnregisteredStudents[i].Email}.jpg";
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="team-item bg-light">
                                <div class="position-relative overflow-hidden">
                                    <img class="img-fluid" src="~/Photos/@photoName" alt="">                                 
                                </div>
                                <div class="text-center p-4">
                                    <h5 class="mb-0">@($"{Model.UnregisteredStudents[i].FirstName} {Model.UnregisteredStudents[i].LastName}")</h5>
                                    <a class="mb-0" href="mailto:@Model.UnregisteredStudents[i].Email">@Model.UnregisteredStudents[i].Email</a>
                                    @Html.CheckBoxFor(c => c.UnregisteredStudents[i].IsChecked)
                                </div>
                            </div>
                        </div>  
                        @Html.HiddenFor(c => c.UnregisteredStudents[i].Id)
                        @Html.HiddenFor(c => c.UnregisteredStudents[i].Email)
                        @Html.HiddenFor(c => c.UnregisteredStudents[i].FirstName)
                        @Html.HiddenFor(c => c.UnregisteredStudents[i].LastName)
                        @Html.HiddenFor(c => c.UnregisteredStudents[i].Password)
                        @Html.HiddenFor(c => c.UnregisteredStudents[i].Info)
                        @Html.HiddenFor(c => c.UnregisteredStudents[i].Role)
                        @Html.HiddenFor(c => c.UnregisteredStudents[i].Photo)
                    }
                }
                <div class="col-12 justify-content-center">
                    <input class="btn btn-primary py-3 px-5 mt-2" type="submit" value="Enroll/Unenroll">
                </div>
            </div>
        </div>
    </div>
}