﻿@using LearningPlatform.Common.DTOs.ViewModels;
@model CourseStudentViewModel
<br />
@{
    this.ViewData["Title"] = "Courses";
    var courses = this.Model.Courses;
    var currentUser = this.Model.User;
}
@if (this.TempData.ContainsKey("Message"))
{
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <div class="alert-success">
            <h5 class="mb-0">@this.TempData["Message"]</h5>
        </div>
    </div>
}
<br />
<br />

@if (this.Model.User.Role == LearningPlatform.Models.Enums.Role.Teacher)
{
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                        <a class="btn btn-primary py-4 px-lg-5 d-none d-lg-block" asp-controller="Course" asp-action="Create">Create course<i class="fa fa-arrow-right ms-3"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<br />
<br />
<!-- Header Start -->
<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
    <h6 class="section-title bg-white text-center text-primary px-3">Courses</h6>
    <h1 class="mb-5">All available courses</h1>
</div>
<!-- Header End -->
<!-- Courses Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4 justify-content-center">
            @{
                foreach (var course in courses)
                {
                    if (currentUser.Role == LearningPlatform.Models.Enums.Role.Teacher
                        || course.Students.Contains(currentUser)
                        || course.CourseType == LearningPlatform.Models.Enums.CourseType.Public)
                    {
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a asp-controller="Course" asp-action="ReadMore" asp-route-Id="@course.Id">
                                <div class="course-item bg-light">
                                    <div class="position-relative overflow-hidden">
                                        @{
                                            var coursePhotoName = string.Empty;
                                            if (course.Title.Contains("C#"))
                                            {
                                                coursePhotoName = "c-sharp.jpg";
                                            }
                                            else if (course.Title.Contains("Java") && course.Title.Contains("Script"))
                                            {
                                                coursePhotoName = "java-script.jpg";
                                            }
                                            else if (course.Title.StartsWith("Java") && !course.Title.Contains("Script"))
                                            {
                                                coursePhotoName = "java.jpg";
                                            }
                                            else if (course.Title.Contains("Python"))
                                            {
                                                coursePhotoName = "python.jpg";
                                            }
                                        }
                                        <img class="img-fluid" src="~/img/@coursePhotoName" alt="">
                                        <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                        </div>
                                    </div>
                                    <div class="text-center p-4 pb-0">
                                        <h3 class="mb-0">@course.Title</h3>
                                        <h6 class="mb-4">@course.CourseType.ToString()</h6>
                                    </div>
                                    <div class="d-flex border-top">
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small>
                                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>@course.Students.Count</small>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="course-item bg-light">
                                <div class="position-relative overflow-hidden">
                                    @{
                                        var coursePhotoName = string.Empty;
                                        if (course.Title.Contains("C#"))
                                        {
                                            coursePhotoName = "c-sharp.jpg";
                                        }
                                        else if (course.Title.Contains("Java") && course.Title.Contains("Script"))
                                        {
                                            coursePhotoName = "java-script.jpg";
                                        }
                                        else if (course.Title.StartsWith("Java") && !course.Title.Contains("Script"))
                                        {
                                            coursePhotoName = "java.jpg";
                                        }
                                        else if (course.Title.Contains("Python"))
                                        {
                                            coursePhotoName = "python.jpg";
                                        }
                                    }
                                    <img class="img-fluid" src="~/img/@coursePhotoName" alt="">
                                    <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                    </div>
                                </div>
                                <div class="text-center p-4 pb-0">
                                    <h3 class="mb-0">@course.Title</h3>
                                    <h6 class="mb-4">@course.CourseType.ToString()</h6>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small>
                                    <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>@course.Students.Count</small>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>

