﻿@using LearningPlatform.Common.DTOs.ViewModels;
@model ReadMoreViewModel
@{
    this.ViewData["Title"] = "Read More";
    var currentUser = this.Model.User;
    var currentCourse = this.Model.Course;
}
<br />
@if (this.TempData.ContainsKey("Message"))
{
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <div class="alert-success">
            <h5 class="mb-0">@this.TempData["Message"]</h5>
        </div>
    </div>
}
<br />
<br />
<div class="container-lg">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    @{ 
                        var coursePhotoName = string.Empty;
                        if (currentCourse.Title.Contains("C#"))
                        {
                            coursePhotoName = "c-sharp.jpg";
                        }
                        else if (currentCourse.Title.Contains("Java") && currentCourse.Title.Contains("Script"))
                        {
                            coursePhotoName = "java-script.jpg";
                        }
                        else if (currentCourse.Title.StartsWith("Java") && !currentCourse.Title.Contains("Script"))
                        {
                            coursePhotoName = "java.jpg";
                        }
                        else if (currentCourse.Title.Contains("Python"))
                        {
                            coursePhotoName = "python.jpg";
                        }
                    }
                    <img class="img-fluid position-absolute w-100 h-100" src="~/img/@coursePhotoName" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">Title</h6>
                <h1 class="mb-4">@this.Model.Course.Title</h1>
                <h6 class="section-title bg-white text-start text-primary pe-3">Description</h6>
                <p class="mb-4">@this.Model.Course.Description</p>
                <h6 class="section-title bg-white text-start text-primary pe-3">Course Type</h6>
                <p class="mb-4">@this.Model.Course.CourseType</p>
                <h6 class="section-title bg-white text-start text-primary pe-3">Students</h6>
                <p class="mb-4">@this.Model.Course.Students.Count</p>
                <div class="w-100 d-flex justify-content-center position-absolute order-0 start-0 mb-4"></div>

                @if (this.Model.Course.CourseType == LearningPlatform.Models.Enums.CourseType.Public)
                {
                    if (currentUser.Role == LearningPlatform.Models.Enums.Role.Teacher)
                    {
                        <a class="btn btn-primary py-3 px-5 mt-2" asp-controller="Course" asp-action="Edit" asp-route-id="@this.Model.Course.Id">Edit<i class="fa fa-arrow-right ms-3"></i></a>
                        <a class="btn btn-primary py-3 px-5 mt-2" asp-controller="Course" asp-action="Delete" asp-route-id="@this.Model.Course.Id">Delete<i class="fa fa-arrow-right ms-3"></i></a>
                        <a class="btn btn-primary py-3 px-5 mt-2" asp-controller="Section" asp-action="Create" asp-route-id="@this.Model.Course.Id">Create section<i class="fa fa-arrow-right ms-3"></i></a>
                    }
                    else
                    {
                        <a class="btn btn-primary py-3 px-5 mt-2" asp-controller="Course" asp-action="UnenrollStudent" asp-route-id="@this.Model.Course.Id">Unenroll<i class="fa fa-arrow-right ms-3"></i></a>
                    }
                }
                else
                {
                    if (currentUser.Role == LearningPlatform.Models.Enums.Role.Teacher)
                    {
                        <a class="btn btn-primary py-3 px-5 mt-2" asp-controller="Course" asp-action="Edit" asp-route-id="@this.Model.Course.Id">Edit<i class="fa fa-arrow-right ms-3"></i></a>
                        <a class="btn btn-primary py-3 px-5 mt-2" asp-controller="Course" asp-action="Delete" asp-route-id="@this.Model.Course.Id">Delete<i class="fa fa-arrow-right ms-3"></i></a>
                        <a class="btn btn-primary py-3 px-5 mt-2" asp-controller="Section" asp-action="Create" asp-route-id="@this.Model.Course.Id">Create section<i class="fa fa-arrow-right ms-3"></i></a>
                        <a class="btn btn-primary py-3 px-5 mt-2" asp-controller="Course" asp-action="EnrollStudents" asp-route-id="@this.Model.Course.Id">Enroll Students<i class="fa fa-arrow-right ms-3"></i></a>
                    }
                }
            </div>
        </div>
    </div>
</div>
<!-- Sections Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            @{
                foreach (var section in this.Model.Course.Sections.OrderBy(s => s.Order))
                {
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <a asp-controller="Section" asp-action="Index" asp-route-id="@($"{section.Id}")">
                            <div class="service-item text-center pt-3">
                                <div class="p-4">
                                    <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                                    <h5 class="mb-3">@($"{section.Title}")</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</div>
<!-- Sections End -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4 justify-content-center">

            @{ if (this.Model.Course.Title.Contains("C#"))
                {
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/MW8mQGcYqMA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                }
                else if (currentCourse.Title.StartsWith("Java") && !currentCourse.Title.Contains("Script"))
                {
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/2Xa3Y4xz8_s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                }
                else if (currentCourse.Title.StartsWith("Java") && currentCourse.Title.Contains("Script"))
                {
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/upDLs1sn7g4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                }
                else if (this.Model.Course.Title.Contains("Python"))
                {
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Y8Tko2YC5hA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                }
            }
        </div>
    </div>
</div>