﻿@using System.IdentityModel.Tokens.Jwt;
<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <meta charset="utf-8">
    <title>Poodle e-LEARNING</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <meta http-equiv="refresh" content="900" />

    <!-- Favicon -->
    <link href="~/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
</head>
@{
    this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("JWToken");
    string currentUser = this.Context.Session.GetString("CurrentUser");
}

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a asp-controller="Home" asp-action="Index" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>Poodle e-LEARNING</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            @if (!(bool)this.ViewData["IsAuthenticated"])
            {
                <a class="btn btn-primary py-4 px-lg-5 d-none d-lg-block" asp-controller="Authentication" asp-action="Register">Join Now<i class="fa fa-arrow-right ms-3"></i></a>
            }
            else
            {
                <a class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Hi, @currentUser<i class="fa fa-arrow-right ms-3"></i></a>
            }
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                @if (this.ViewData["Title"].ToString() == "Home")
                {
                    <a asp-controller="Home" asp-action="Index" class="nav-item nav-link active">Home</a>
                }
                else
                {
                    <a asp-controller="Home" asp-action="Index" class="nav-item nav-link">Home</a>
                }

                @if (this.ViewData["Title"].ToString() == "About")
                {
                    <a asp-controller="Home" asp-action="About" class="nav-item nav-link active">About</a>
                }
                else
                {
                    <a asp-controller="Home" asp-action="About" class="nav-item nav-link">About</a>
                }

                @if (this.ViewData["Title"].ToString() == "Courses")
                {
                    <a asp-controller="Course" asp-action="Index" class="nav-item nav-link active">Courses</a>
                }
                else
                {
                    <a asp-controller="Course" asp-action="Index" class="nav-item nav-link ">Courses</a>
                }

                @if (this.ViewData["Title"].ToString() == "Teachers")
                {
                    <a asp-controller="User" asp-action="Teachers" class="nav-item nav-link active">Our Teachers</a>
                }
                else
                {
                    <a asp-controller="User" asp-action="Teachers" class="nav-item nav-link">Our Teachers</a>
                }

                @*@if ((bool)this.ViewData["IsAuthenticated"])
                    {*@
                <div class="nav-item dropdown">
                    @if (this.ViewData["Title"].ToString() == "Students"
|| this.ViewData["Title"].ToString() == "Sections"
|| this.ViewData["Title"].ToString() == "Update")
                    {
                        <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Menu</a>
                    }
                    else
                    {
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Menu</a>
                    }
                    <div class="dropdown-menu fade-down m-0">
                        <a asp-controller="User" asp-action="Students" class="dropdown-item">Students</a>
                        <a asp-controller="User" asp-action="ProfilePage" class="dropdown-item">Profile page</a>
                    </div>
                </div>
                @*}*@
            </div>
            @if ((bool)this.ViewData["IsAuthenticated"])
            {
                <a class="btn btn-primary py-4 px-lg-5 d-none d-lg-block" asp-controller="Authentication" asp-action="Logout">Logout<i class="fa fa-arrow-right ms-3"></i></a>
            }
            else
            {
                <a class="btn btn-primary py-4 px-lg-5 d-none d-lg-block" asp-controller="Authentication" asp-action="Login">Login<i class="fa fa-arrow-right ms-3"></i></a>
            }
        </div>
    </nav>
    <!-- Navbar End -->
    <!-- Body Start -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- Body End -->
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
  
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Quick Link</h4>
                    <a class="btn btn-link" href="">About Us</a><a class="btn btn-link" href="">Contact Us</a>
                    <a class="btn btn-link" href="">FAQs & Help</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Contact</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Sofia, Bulgaria</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                    <div>
                        <i class="fa fa-envelope me-3"></i><a class="mb-0" href="mailto:snikolovdev@outlook.com">Stefan Nikolov</a>
                    </div>
                    <div>
                        <i class="fa fa-envelope me-3"></i><a class="mb-0" href="mailto:stanislav_ik@abv.bg">Stanislav Konstantinov</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    @{
                        if (this.ViewData["Title"].ToString() != "Home")
                        {
                            <button onclick="history.back()" type="button" class="btn btn-primary py-3 px-5 mt-2">Go Back</button>
                        }
                    }
                    <div class="d-flex pt-2">
                        <a class="btn btn-primary py-3 px-5 mt-2" href="http://localhost:5000/swagger/">Swagger UI<i></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">eLearning Platform</a>, All Right Reserved.
                        Designed By <a class="border-bottom" href="https://gitlab.com/a35-team-6/poodle-e-learning-platform.git">Team 5</a><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <!-- Template Javascript -->
    <script src="~/js/main.js"></script>
</body>
</html>
