﻿@using LearningPlatform.Common.DTOs.ViewModels;
@model ErrorPageViewModel
@{
    this.ViewData["Title"] = "ErrorPage";
}
<br />
<br />
<br />
<br />
<!-- 404 Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                <h1 class="display-1">@this.Model.StatusCode</h1>
                <p class="mb-4">@this.Model.ErrorMessage</p>
                <a class="btn btn-primary rounded-pill py-3 px-5" href="http://localhost:5000">Go Back To Home</a>
            </div>
        </div>
    </div>
</div>
<!-- 404 End -->
<br />
<br />
