﻿@using LearningPlatform.Common.DTOs.Requests;
@model SectionRequestDto
@{
    this.ViewData["Title"] = "Edit";
}
<br />
<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
    <h6 class="section-title bg-white text-center text-primary px-3">Section</h6>
    <h1 class="mb-5">Editing a section</h1>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4 justify-content-center wow fadeInUp" data-wow-delay="0.5s">
            <!--Edit Start-->
            <div>
                <form asp-controller="Section" asp-action="Edit" method="Post">
                    <div class="row g-3">
                        <div class="col-12">
                            <div class="form-floating">
                                <input asp-for="Title" type="text" class="form-control" id="email" placeholder="Your Email">
                                <span asp-validation-for="Title" class="alert-danger"></span>
                                <label for="name">Title</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea rows="10" asp-for="Content" type="text" class="form-control" id="firsName" placeholder="First Name"></textarea>
                                <span asp-validation-for="Content" class="alert-danger"></span>
                                <label for="name">Content</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input asp-for="Order" type="text" class="form-control" id="lastName" placeholder="Last Name">
                                <span asp-validation-for="Order" class="alert-danger"></span>
                                <label for="name">Order</label>
                            </div>
                        </div>

                        <div class="col-12">                            
                            <br />
                            <br />
                            <div class="col-12">
                                <input class="btn btn-primary w-100 py-3" type="submit" value="Edit">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--Edit End-->
        </div>
    </div>
</div>