﻿@using LearningPlatform.Models;
@model Section
@{
    this.ViewData["Title"] = "Section";
    var currentUserRole = this.Context.Session.GetString("CurrentUserRole");
}
<br />
@if (this.TempData.ContainsKey("Message"))
{
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <div class="alert-success">
            <h5 class="mb-0">@this.TempData["Message"]</h5>
        </div>
    </div>
}
<br />
<div class="container-xxl">
    <div class="container">
        <div class="row g-5 justify-content-center wow fadeInUp" data-wow-delay="0.3s">
            <div>
                <h6 class="section-title bg-white text-start text-primary pe-3">Title</h6>
                <h1 class="mb-4">@this.Model.Title</h1>
                <h6 class="section-title bg-white text-start text-primary pe-3">Content</h6>
                <p class="mb-4">
                    <h4>@Html.Raw(this.Model.Content)</h4>
                </p>
                @if (currentUserRole == "Teacher")
                {
                    <h6 class="section-title bg-white text-start text-primary pe-3">Order</h6>
                    <p class="mb-4">@this.Model.Order</p>
                    <h6 class="section-title bg-white text-start text-primary pe-3">CreationTime</h6>
                    <p class="mb-4">@this.Model.CreationTime</p>
                    <div class="w-100 d-flex justify-content-center position-absolute order-0 start-0 mb-4">
                    </div>
                    <a class="btn btn-primary py-3 px-5 mt-2" asp-controller="Section" asp-action="Edit" asp-route-id="@this.Model.Id">Edit</a>
                    <a class="btn btn-primary py-3 px-5 mt-2" asp-controller="Section" asp-action="Delete" asp-route-id="@this.Model.Id">Delete</a>
                }
            </div>
        </div>
    </div>
</div>