﻿@using LearningPlatform.Models;
@model User
@{
    this.ViewData["Title"] = "Profile page";
}
<br />
@if (this.TempData.ContainsKey("Message"))
{
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <div class="alert-success">
            <h5 class="mb-0">@this.TempData["Message"]</h5>
        </div>
    </div>
}
@{
    var photoName = $"{this.Model.Email}.jpg";
    var pageDescdriptionMessage = $"{this.Model.FirstName}'s home page";
}
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">@pageDescdriptionMessage</h6>
        </div>
        <br/>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item bg-light">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid" src="~/Photos/@photoName" alt="">
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">@($"{this.Model.FirstName} {this.Model.LastName}")</h5>
                        <small>@this.Model.Email</small>
                        <h5 class="mb-0">@($"{this.Model.Role}")</h5>
                    </div>
                    <div class="d-flex pt-2">
                        <a asp-controller="User" asp-action="Update" class="btn btn-primary w-100 py-3" pos>Update/Delete profile<i></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial Start -->
@if (this.Model.Role == LearningPlatform.Models.Enums.Role.Student)
{
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h6 class="section-title bg-white text-center text-primary px-3">Courses you are enrolled in:</h6>
            </div>
            <div class="owl-carousel testimonial-carousel position-relative">
                @{
                    if (this.Model.Courses.Count == 0)
                    {
                                <h1 class="mb-5">You are not enrolled in any courses. Click on public one to do it.</h1>

                    }
                    else
                    {
                        var coursePhotoName = string.Empty;
                        foreach (var course in this.Model.Courses)
                        {
                            if (course.Title.Contains("C#"))
                            {
                                coursePhotoName = "c-sharp.jpg";
                            }
                            else if (course.Title.Contains("Java") && course.Title.Contains("Script"))
                            {
                                coursePhotoName = "java-script.jpg";
                            }
                            else if (course.Title.StartsWith("Java") && !course.Title.Contains("Script"))
                            {
                                coursePhotoName = "java.jpg";
                            }
                            else if (course.Title.Contains("Python"))
                            {
                                coursePhotoName = "python.jpg";
                            }
                            <div class="testimonial-item text-center">
                                <img class="border rounded-circle p-2 mx-auto mb-3" src="~/img/@coursePhotoName" style="width: 80px; height: 80px;">
                                <h5 class="mb-0"></h5>
                                <p>@course.Title</p>
                                <a class="btn btn-primary py-3 px-5 mt-2" asp-controller="Course" asp-action="Readmore" asp-route-id="@course.Id">Go to course<i class="fa fa-arrow-right ms-3"></i></a>
                            </div>
                        }
                    }
                }
                <div class="owl-nav disabled">
                    <div class="owl-prev">prev</div><div class="owl-next">next</div>
                </div>
            </div>
        </div>
    </div>
}
<!-- Testimonial End -->
<script src="lib/owlcarousel/owl.carousel.min.js"></script>


