﻿@using LearningPlatform.Common.DTOs.Responses;
@model List<UserResponseDto>
@{
    this.ViewData["Title"] = "Students";
}
@if (this.TempData.ContainsKey("Message"))
{
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <div class="alert-success">
            <h5 class="mb-0">@this.TempData["Message"]</h5>
        </div>
    </div>
}
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Students</h6>
            <h1 class="mb-5">List of Registered Students</h1>
        </div>
        <div class="row g-4 justify-content-center" id="StudentsList">
            @foreach (var user in this.Model.Where(u => u.Role == LearningPlatform.Models.Enums.Role.Student))
            {
                var photoName = $"{user.Email}.jpg";
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="~/Photos/@photoName" alt="">                           
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">@($"{user.FirstName} {user.LastName}")</h5>
                            <a class="mb-0" href="mailto:@user.Email">@user.Email</a>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>