﻿@using LearningPlatform.Common.DTOs.Responses;
@using System.Linq;
@model List<UserResponseDto>
@{
    this.ViewData["Title"] = "Teachers";
}
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Poodle e-LEARNING Platform</h6>
            <h1 class="mb-5">Expert Instructors</h1>
        </div>
        @{
            <div class="row g-4 justify-content-center">
                @foreach (var user in this.Model.Where(u => u.Role == LearningPlatform.Models.Enums.Role.Teacher))
                {
                    var photoName = $"{user.Email}.jpg";
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item bg-light">
                            <div class="overflow-hidden">
                                <img class="img-fluid" src="~/Photos/@photoName" alt="">
                            </div>
                            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                    <a class="btn btn-sm-square btn-primary mx-1 justify-content-center" href="mailto:@user.Email"><i class="fa fa-envelope me-3 justify-content-center"></i></a>
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <h5 class="mb-0">@($"{user.FirstName} {user.LastName}")</h5>
                                <small>@user.Info</small>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>