﻿@using LearningPlatform.Common.DTOs.ViewModels;
@model UpdateStudentViewModel
@{
    this.ViewData["Title"] = "Update";
}
<br />
<br />
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4 justify-content-center">
            <!--Register Start-->
            <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                <form asp-controller="User" asp-action="Update" method="Post">
                    <div class="row g-3">
                        <div class="col-12">
                            <div class="form-floating">
                                <input asp-for="FirstName" type="text" class="form-control" id="firsName" placeholder="First Name">
                                <span asp-validation-for="FirstName" class="alert-danger"></span>
                                <label for="name">First Name</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input asp-for="LastName" type="text" class="form-control" id="lastName" placeholder="Last Name">
                                <span asp-validation-for="LastName" class="alert-danger"></span>
                                <label for="name">Last Name</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Password" onclick="myFunction()" />
                                <span asp-validation-for="Password" class="alert-danger"></span>
                                <label for="name">Password</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input asp-for="ConfirmPassword" type="password" class="form-control" id="password" placeholder="Confirm Password" onclick="myFunction()" />
                                <span asp-validation-for="ConfirmPassword" class="alert-danger"></span>
                                <label for="name">Confirm Password</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <input class="btn btn-primary w-100 py-3" type="submit" value="Update">
                        </div>
                    </div>
                </form>
            </div>
            <!--Register End-->
            <!-- Profile Photo Uploader Start -->
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">

                    <form asp-controller="User" asp-action="Upload" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="@this.Model.ProfilePhoto.PhotoFile" accept="image/*" class="btn btn-primary w-100 py-3"></>
                            <span asp-validation-for="ProfilePhoto.PhotoFile" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary w-100 py-3" type="submit" value="Save Photo">
                        </div>
                    </form>
                </div>
            </div>
            <!-- Profile Photo Uploader End -->
            <!-- Delete Profile Start -->
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                    <form asp-controller="User" asp-action="Delete" method="post">
                        <div class="form-group">
                            <input class="btn btn-primary w-100 py-3" type="submit" value="Delete your profile">
                        </div>
                    </form>
                </div>
            </div>
            <!-- Delete Profile End -->
        </div>
    </div>
</div>

<script>
    function myFunction() {
        var x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>