﻿@using LearningPlatform.Common.DTOs.ViewModels;
@model LoginViewModel
<br />
@{
    this.ViewData["Title"] = "Login";
    if (this.TempData.ContainsKey("Message"))
    {
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <div class="alert-success">
                <h5 class="mb-0">@this.TempData["Message"]</h5>
            </div>
        </div>
    }
}
<br />
<br />
<br />
<br />
<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
    <h6 class="section-title bg-white text-center text-primary px-3">Poodle e-LEARNING Platform</h6>
    <h1 class="mb-5">Login</h1>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4 justify-content-center">
            <!--Login Start-->
            <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                <form asp-controller="Authentication" asp-action="Login" method="Post">
                    <div class="row g-3">
                        <div class="col-12">
                            <div class="form-floating">
                                <input asp-for="Email" type="text" class="form-control" id="email" placeholder="Your Email">
                                <span asp-validation-for="Email" class="alert-danger"></span>
                                <label for="name">Email</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Password" onclick="myFunction()">
                                <span asp-validation-for="Password" class="alert-danger"></span>
                                <label for="name">Password</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <input class="btn btn-primary w-100 py-3" type="submit" value="Login">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Login End-->
<script>
    function myFunction() {
        var x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
<br />
<br />
<br />
<br />
<br />