﻿@using LearningPlatform.Common.DTOs.ViewModels;
@model RegisterViewModel
@{
    this.ViewData["Title"] = "Register";
}
<br />
<br />
<br />
<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
    <h6 class="section-title bg-white text-center text-primary px-3">Poodle e-LEARNING Platform</h6>
    <h1 class="mb-5">Register</h1>
</div>
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4 justify-content-center">
            <!--Register Start-->
            <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                <form asp-controller="Authentication" asp-action="Register" method="Post">
                    <div class="row g-3">
                        <div class="col-12">
                            <div class="form-floating">
                                <input asp-for="Email" type="text" class="form-control" id="email" placeholder="Your Email">
                                <span asp-validation-for="Email" class="alert-danger"></span>
                                <label for="name">Email</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input asp-for="FirstName" type="text" class="form-control" id="firsName" placeholder="First Name">
                                <span asp-validation-for="FirstName" class="alert-danger"></span>
                                <label for="name">First Name</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input asp-for="LastName" type="text" class="form-control" id="lastName" placeholder="Last Name">
                                <span asp-validation-for="LastName" class="alert-danger"></span>
                                <label for="name">Last Name</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Password" onclick="myFunction()" />

                                <span asp-validation-for="Password" class="alert-danger"></span>
                                <label for="name">Password</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input asp-for="ConfirmPassword" type="password" class="form-control" id="password" placeholder="Confirm Password" onclick="myFunction()" />
                                <span asp-validation-for="ConfirmPassword" class="alert-danger"></span>
                                <label for="name">Confirm Password</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <input class="btn btn-primary w-100 py-3" type="submit" value="Register">
                        </div>
                    </div>
                </form>
            </div>
            <!--Register End-->
        </div>
    </div>
</div>
<!-- Service End -->
<script>
    function myFunction() {
        let passwordElements = document.querySelectorAll("#password");
        let passwordsArray = Array(...passwordElements);
        console.log(passwordElements);
        console.log(passwordsArray);
        passwordArray.forEach(function (value, 1, let))
        {
            if (element.type === "password") {
                element.type = "text";
            }
            else {
                element.type = "password";
            }
        }
    }
</script>